/* a {
    color: #e4babc;
    text-decoration: none;
}
a:visited {
    color: #e4babc;
} */

.admin_frmae_grid {
    display: grid;
    grid-template-columns: minmax(320px, auto) 1fr;
    width: 100vw;
    height: 100vh;
}

.admin_frmae_grid .admin_panel {
    display: flex;
    flex-direction: column;
    background-color: #9a041c;
}

.admin_frmae_grid .admin_panel .admin_panel_top {
    padding: 20px;
    text-align: center;
}

.admin_frmae_grid .admin_panel .admin_panel_top span:first-child {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.admin_frmae_grid .admin_panel .admin_panel_top span:last-child {
    display: inline-block;
    color: #e3bbbc;
    font-size: 20px;
    font-weight: 700;
}


.admin_frmae_grid .admin_panel nav {
    color: #e4babc;
}

.admin_frmae_grid .admin_panel nav ul {
    list-style: none;
}

.admin_frmae_grid .admin_panel nav ul li {
    /* vertical-align: middle; */
    padding: 12px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    color: #e4babc;
    text-decoration: none;
}

.admin_frmae_grid .admin_panel nav ul li:hover {
    color: #fff;
    background-color: #88011a;
}

.admin_frmae_grid .admin_panel nav ul li span {
    padding: 8px;
}

.admin_frmae_grid .admin_content {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

/* 메인보드 */
.admin_frmae_grid .admin_content .admin_content_main_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 5%;
}

.admin_content_main_grid .admin_content_main_header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    padding: 12px;
}

.admin_content_main_header .header_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    background-color: #fff;
}

.admin_content_main_header .header_contents p:first-child {
    font-size: 24px;
    font-weight: 700;
}

.admin_content_main_header .header_contents p:last-child {
    color: #c20124;
    font-size: 36px;
    font-weight: 700;
}

.panel_select_main_hide {
    height: 100%;
    display: block;
}

/* 연구원 관리 */
.admin_content_user_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: 10% 90%;
}

.admin_content_user_grid .admin_content_user_header {
    display: grid;
    grid-template-columns: 10% 20%;
    grid-gap: 30px;
}

.admin_content_user_grid .admin_content_user_header p {
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    font-weight: 700;
}

.admin_content_user_grid .admin_content_user_header div {
    display: flex;
    align-items: flex-end;
}

.admin_content_user_grid .admin_content_user_header div button {
    width: max-content;
    height: max-content;
    padding: 16px;
    margin-right: 10%;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #88011a;
}

.admin_content_user_cont {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #444;
}

.admin_content_user_cont table {
    width: 100%;
    font-size: 24px;
    color: #a3aab9;

}

.admin_content_user_cont table tbody td {
    padding: 8px;
    color: #697a8f;
    text-align: center;
    border-bottom: 1px solid black;
}

.status_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_ .status_ok {
    width: max-content;
    height: max-content;
    padding: 16px;
    color: #78c47c;
    border-radius: 10px;
    background-color: #d2ebd4;
}

.status_ .status_deny {
    width: max-content;
    height: max-content;
    padding: 16px;
    color: #eb928a;
    border-radius: 10px;
    background-color: #f5d0cc;
}

.operation_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.operation_button {
    color: gray;
    width: 25px;
    height: 25px;
    border: 0;
    background-color: transparent;
}

.operation_button:hover {
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.panel_select_user_hide {
    height: 100%;
    display: none;
}

/* 유고결석 관리 */
.admin_content_absent_grid {}

.panel_select_absent_hide {
    height: 100%;
    display: none;
}

/* 공지사항 관리 */
.admin_content_notice_grid {}

.panel_select_notice_hide {
    height: 100%;
    display: none;
}

/* Popup Okay */
.popup_okay_background_hide {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
}

.popup_okay_background_hide .popup_okay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 40px;
    border-bottom: 2px solid #3a4d8f;
    border-left: 2px solid #3a4d8f;
    border-right: 2px solid #3a4d8f;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
}

.popup_okay div button {
    padding: 12px;
}


/* Popup  */
.popup_background_hide {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);

}

.popup_edit_background_hide {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
}

.popup_adduser_hide {
    /* display: none; */
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    width: 550px;
    height: max-content;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-bottom: 2px solid #3a4d8f;
    border-left: 2px solid #3a4d8f;
    border-right: 2px solid #3a4d8f;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
}

.popup_adduser_hide h4 {
    justify-content: flex-start;
    padding: 20px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #3a4d8f;
}

.popup_adduser_hide_content {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.user_popup_edit_password_pwd {
    margin-top: 20px;
    width: max-content;
    height: max-content;
    border-top: 2px solid #3a4d8e;
    border-bottom: 1px solid #3a4d8e;
    background: #f1f1f6;
}

.user_popup_edit_password_pwd div {
    width: 100%;
    margin: 6px 4px;
}

.user_popup_edit_password_pwd div p {
    display: inline-block;
    width: 120px;
    margin-left: 4px;
}

.user_popup_edit_password_pwd div input {
    border: 0;
    border-radius: 5px;
    width: 370px;
    height: 30px;
}

.user_popup_edit_password_footer {
    display: flex;
    align-items: center;
    height: 60px;
}

.user_popup_edit_password_footer button {
    cursor: pointer;
    margin: 0 8px;
    padding: 12px 12px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #3a4d8f;
}

.user_popup_edit_password_footer button:last-child {
    background-color: #848484;
}

/* end edit user password popup */