/**
 * Circle Styles
 */
.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    color: var(--color-white-0);
    background: var(--color-red-4);
}

.circle
.top 
{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
}
.circle
.mid 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20%);
    color: var(--color-black-1);
}
.circle
.bottom 
{   
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: var(--color-gray-1);
}

/* End Circle */

.board-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: calc(100vh - 60px);
}

.board-page>.navbar {
    width: 280px;
    min-height: calc(100vh - 60px);
    background: var(--color-red-1);
}

.board-page>.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.content-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    padding: 12px;
    padding-top: 24px;
    background: var(--color-white-0);
    border: 1px solid var(--color-white-1);
    border-top: 4px solid var(--color-red-1);

}

.content-top
.content-top-head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: center;
}

.content-top
.content-top-head p{
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black-2);
}

.content-top 
.content-top-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 100%;
}