/* 유고결석 관리 */
.admin_content_absent_grid {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 20px;
    grid-template-rows: 10% 90%;
}

.admin_absent_header p {
    display: flex;
    font-size: 36px;
    font-weight: 700;
}

.admin_absent_content {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-top: 2px solid red;
    background:rgba(255, 255, 255, 0.65);
}

.admin_absent_content
.top-th {
    text-align: center;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 12px;
    color: gray;
}

.admin_absent_content
.top {
    padding: 12px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.admin_absent_content
.top p a:hover{
    color: #3a4d8f;
}

.admin_absent_content
.top:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}

.admin_absent_content
.top p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel_select_absent_hide {
    height: 100%;
    display: none;
}

/* Popup Okay */
.popup_access_background_hide {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
}

.popup_access_background_hide
.popup_access {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    padding: 40px;
    border-bottom: 2px solid #3a4d8f;
    border-left: 2px solid #3a4d8f;
    border-right: 2px solid #3a4d8f;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
}

.popup_access div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup_access div button {
    margin: 4px;
    padding: 4px;
}
