body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8f8;
}

.main-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 8px;
    width: 100vw;
    max-width: 1280px;
}

.calander-component {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    background: var(--color-white-0);
    border: 1px solid var(--color-white-1);
    border-top: 4px solid var(--color-red-1);
}

.calander-component .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 20px;
}

.calander-component .header .month-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.calander-component .header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: var(--color-black-2);
}

.calander-component .header .info .in {
    display: block;
    margin-right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--color-red-2);
}

.calander-component .header .info .out {
    display: block;
    margin-left: 8px;
    margin-right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--color-red-4);
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dateHead {
    margin: 8px 0;
}

.dateHead div {
    border-top: none;
    border-left: none;
    text-align: left;
    font-size: 12px;
}

.dateBoard {
    background: var(--color-white-0);
    border-top: 1px solid var(--color-white-2);
    border-left: 1px solid var(--color-white-2);
}

.dateBoard>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #222;
    font-size: 12px;
    min-height: 80px;
    padding: 4px;
    padding-bottom: 8px;
    border-right: 1px solid var(--color-white-2);
    border-bottom: 1px solid var(--color-white-2);
}

.dateBoard div .in span {
    display: inline-block;
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--color-red-2);
    color: var(--color-white-0);
    font-weight: bold;
}

.dateBoard div .out span {
    display: inline-block;
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--color-red-4);
    color: var(--color-white-0);
    font-weight: bold;
}

.noColor {
    background: #f8f8f8;
}

.dateTitle {
    margin: 0px 8px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: var(--color-white-0);
    border: 1px solid var(--color-white-2);
    border-radius: 16px;
    cursor: pointer;
}

.btn .material-icons {
    color: var(--color-black-2);
    font-size: 14px;
}