body {
    background: #fff;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.error-page .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.error-page .logo img {
    height: 32px;
    margin-right: 8px;
}

.error-page .title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.error-page .detail {
    margin-bottom: 40px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.error-page .func-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-page .func-wrap a {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ccc;
}

.error-page .func-wrap .go-main {
    background: #C51230;
    color: #fff;
    margin-left: 8px;
}