body {
    background: #fff;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.sign-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.sign-component {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 480px;
    border: 1px solid #DDDDDD;
    border-top: 4px solid #C51230;
}

.sign-component .info-wrap {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.sign-component .info-wrap div {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 320px;
    margin-bottom: 12px;
}

.sign-component .info-wrap .info {
    flex-direction: column;
}

.sign-component .info-wrap ul {
    margin-block-start: 4px;
    margin-block-end: 0px;
    margin-inline-start: 4px;
    margin-inline-end: 0px;
    padding-inline-start: 16px;
}

.sign-component .info-wrap li {
    margin-bottom: 12px;
}

.sign-component .sign-wrap {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f8f8f8 url(https://www.dongseo.ac.kr/kr/_Img/login02.png)no-repeat 90% 56px;
}

.sign-component .sign-wrap .title {
    font-size: 36px;
    margin-bottom: 20px;
}

.sign-component .sign-wrap .subtitle {
    color: #666;
    font-weight: light;
    font-size: 14px;
    margin-bottom: 32px;
}

.sign-component .sign-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 80px;
    background: #C51230;
    color: #ffF;
    font-weight: bold;
    font-size: 20px;
}

.sign-component .sign-wrap a:hover {
    background: #870319;
}

.sign-component .sign-wrap .err {
    margin: 12px;
    color: #C51230;
    font-size: 12px;
}