body {
    background: var(--color-white-0);
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.error-page .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.error-page .logo img {
    height: 32px;
    margin-right: 8px;
}

.error-page .title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: bold;
    color: var(--color-black-1);
    text-align: center;
}

.error-page .detail {
    margin-bottom: 40px;
    font-size: 16px;
    color: var(--color-black-2);
    text-align: center;
}

.error-page .func-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-page .func-wrap a {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: bold;
    background: var(--color-white-0);
    border: 1px solid var(--color-white-2);
}

.error-page .func-wrap .go-main {
    background: var(--color-red-1);
    color: var(--color-white-0);
    margin-left: 8px;
}