@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font: 16px "Pretendard";
    color: #333333;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
}

strong {
    font-weight: bold;
    color: #C51230;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

header .logo img {
    height: 32px;
    margin-right: 8px;
}

header .profile {
    margin-right: 20px;
}

header .profile a:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #C51230;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
}

header .profile span {
    font-size: 16px;
    margin-right: 8px;
}

header .profile img {
    margin-right: 8px;
}

/* dropdown button */
header .profile {
    position: relative;
}

header .profile .user_popup {
    position: absolute;
    right: 0;
    z-index: 100;
    width: max-content;
    padding: 8px 14px;
    margin-top: 2px;
    border: 1px solid #DDD;
    border-radius: 5px;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

header .profile .user_popup ul {
    list-style: none;
}

header .profile .user_popup ul li {
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #DDD;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .profile .user_popup ul li:hover {
    color: gray;
    transition: 0.5s;
}

header .profile .user_popup ul li:last-child {
    border-bottom: 0;
}

/* end dropdown button */


/* Dropdown -> Edit user password popup */
.user_popup_edit_password {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 425px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #3a4d8f;
    border-left: 2px solid #3a4d8f;
    border-right: 2px solid #3a4d8f;
    border-radius: 10px;
    background-color: #fff;
}

.user_popup_edit_password h4 {
    justify-content: flex-start;
    padding: 20px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #3a4d8f;
}

.user_popup_edit_password_content {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

.user_popup_edit_password_pwd {
    margin-top: 20px;
    width: 512px;
    height: 120px;
    border-top: 2px solid #3a4d8e;
    border-bottom: 1px solid #3a4d8e;
    background: #f1f1f6;
}

.user_popup_edit_password_pwd div {
    width: 100%;
    margin: 6px 4px;
}

.user_popup_edit_password_pwd div p {
    display: inline-block;
    width: 120px;
    margin-left: 4px;
}

.user_popup_edit_password_pwd div input {
    border: 0;
    border-radius: 5px;
    width: 370px;
    height: 30px;
}

.user_popup_edit_password_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 512px;
    height: 120px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d7dbdf;
}

.user_popup_edit_password_cont p {
    margin: 8px 12px;
}

.user_popup_edit_password_footer {
    display: flex;
    align-items: center;
    height: 60px;
}

.user_popup_edit_password_footer button {
    cursor: pointer;
    margin: 0 8px;
    padding: 12px 12px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #3a4d8f;
}

.user_popup_edit_password_footer button:last-child {
    background-color: #848484;
}

/* end edit user password popup */

.icon {
    width: 32px;
    margin-bottom: 12px;
}

#loading {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.admin_frmae_grid {
    display: grid;
    grid-template-columns: minmax(280px, auto) 1fr;
    width: 100vw;
    height: 100vh;
}

.admin_frmae_grid
.admin_panel {
    display: flex;
    flex-direction: column;
    background-color: #9a041c;
}

.admin_frmae_grid
.admin_panel 
.admin_panel_top {
    padding: 20px;
    text-align: center;
}

.admin_frmae_grid
.admin_panel 
.admin_panel_top span:first-child {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.admin_frmae_grid
.admin_panel 
.admin_panel_top span:last-child {
    display: inline-block;
    color: #e3bbbc;
    font-size: 20px;
    font-weight: 700;
}


.admin_frmae_grid
.admin_panel nav {
    color: #e4babc;
}

.admin_frmae_grid
.admin_panel nav ul {
    list-style: none;
}

.admin_frmae_grid
.admin_panel nav ul li{
    /* vertical-align: middle; */
    padding: 12px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    color: #e4babc;
    text-decoration: none;
}

.admin_frmae_grid
.admin_panel nav ul li:hover{
    color: #fff;
    background-color: #88011a;
}

.admin_frmae_grid
.admin_panel nav ul li span{
    padding: 8px;
}