<!DOCTYPE html>
<html>
    <head>
        <title>융합연구소출석관리서비스 | 오류</title>
        <link rel="favicon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/error.css" />
    </head>
    <body>
        <div class="error-page">
            <div class="logo">
                <img src="/images/dsulogo.jpg" />
                융합연구소출석관리서비스
            </div>
            <div class="title">서비스 이용에 불편을 드려 죄송합니다.</div>
            <div class="detail">
                잘못된 주소입력, 주소변경, 주소삭제로 접근이 안되시거나,<br />
                예기치 못한 에러가 발생하여 해당 페이지로 접근이 불가능합니다.
            </div>
            <div class="func-wrap">
                <a href="javascript:history.back();">뒤로가기</a>
                <a class="go-main" href="/">메인화면으로</a>
            </div>
        </div>
    </body>
</html>
