<header>
    <a class="logo" href="/">
        <img src="/images/dsulogo.jpg" />
        융합연구소출석관리서비스
    </a>
    <div class="profile">
        <a onclick="userPopupShow()">
            <img src="/images/setting.png" alt="" srcset="" />
            <%= data.uname %>
        </a>
        <div class="user_popup">
            <ul>
                <% if(data.isAdmin) {%>
                <li>
                    <img src="/images/secure.png" alt="" srcset="" />
                    <a href="/admin">관리자페이지</a>
                </li>
                <% } %>
                <li>
                    <img src="/images/password.png" alt="" srcset="" />
                    <a href="#" onclick="userPopupEditPwd()">비밀번호변경</a>
                </li>
                <li>
                    <img src="/images/signout.png" alt="" srcset="" />
                    <a href="/sign">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<script src="/javascrits/porfile-drop.js"></script>
