<header>
    <a class="logo" href="/">
        <img src="/images/dsulogo.jpg" />
        융합연구소출석관리서비스
    </a>
    <div class="profile">
        <a href="/sign">
            <img src="/images/setting.png" alt="" srcset="" />
            <%= data.uname %>
        </a>
    </div>
</header>
